<section id="contributions">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2 class="section-heading">GitHub Contributions</h2>
                <hr>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center" style="margin-bottom: 2em;">
                <a href="https://github.com/giuseppegagliano" target="_blank">
                    <img src="https://ghchart.rshah.org/216e39/giuseppegagliano"
                         alt="giuseppegagliano GitHub contributions"
                         style="width: 100%; max-width: 520px;">
                </a>
                <p style="margin-top: 0.75em;">
                    <a href="https://github.com/giuseppegagliano" target="_blank" style="font-family: monospace; font-size: 0.95em;">
                        github.com/giuseppegagliano
                    </a>
                </p>
            </div>
            <div class="col-md-6 text-center" style="margin-bottom: 2em;">
                <a href="https://github.com/ggaglianoHF" target="_blank">
                    <img src="https://ghchart.rshah.org/216e39/ggaglianoHF"
                         alt="ggaglianoHF GitHub contributions"
                         style="width: 100%; max-width: 520px;">
                </a>
                <p style="margin-top: 0.75em;">
                    <a href="https://github.com/ggaglianoHF" target="_blank" style="font-family: monospace; font-size: 0.95em;">
                        github.com/ggaglianoHF
                    </a>
                </p>
                <p style="font-size: 0.8em; color: #888; margin-top: 0.25em;">
                    510+ PRs · 27 repos · private contributions may not appear
                </p>
            </div>
        </div>
    </div>
</section>
