<style type="text/css" media="screen">
  .gr_grid_container {
    /* customize grid container div here. eg: width: 500px; */
  }

  .gr_grid_book_container {
    /* customize book cover container div here */
    float: left;
    width: 98px;
    height: 160px;
    margin: 5px 5px;
    overflow: hidden;
  }
</style>

<section id="goodreads" class="no-padding">
  <h2 class="section-heading" style="text-align: center;">Books</h2>
  <hr>
  <br>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-lg-4 col-sm-12 col-xs-12">

        <!-- **********************READ************************** (https://www.goodreads.com/user/edit) -->
        <div id="goodreads-read">
          <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
          <h2 class="section-heading" style="text-align: center;">
            <a rel="nofollow"
              href="https://www.goodreads.com/review/list/86801062-giuseppe-gagliano?shelf=read&utm_medium=api&utm_source=grid_widget">Read</a>
          </h2>
          <br>
          <div class="gr_grid_container">
            <div class="gr_grid_book_container">
              <a title="The Variable Man" rel="nofollow"
                href="https://www.goodreads.com/book/show/8734881-the-variable-man"><img alt="The Variable Man"
                  border="0" src="https://images.gr-assets.com/books/1373071196m/8734881.jpg" /></a></div>
            <div class="gr_grid_book_container">
              <a title="Hands-On Machine Learning with Scikit-Learn and TensorFlow" rel="nofollow"
                href="https://www.goodreads.com/book/show/32899495-hands-on-machine-learning-with-scikit-learn-and-tensorflow">
                <img alt="Hands-On Machine Learning with Scikit-Learn and TensorFlow" border="0"
                  src="https://images.gr-assets.com/books/1478536137m/32899495.jpg" />
              </a>
            </div>
            <div class="gr_grid_book_container">
              <a title="High Performance Spark: Best Practices for Scaling and Optimizing Apache Spark" rel="nofollow"
                href="https://www.goodreads.com/book/show/28321014-high-performance-spark">
                <img alt="High Performance Spark: Best Practices for Scaling and Optimizing Apache Spark" border="0"
                  src="https://images.gr-assets.com/books/1496098206m/28321014.jpg" />
              </a>
            </div>
            <div class="gr_grid_book_container">
              <a title="Data Mining: Concepts and Techniques" rel="nofollow"
                href="https://www.goodreads.com/book/show/10524715-data-mining">
                <img alt="Data Mining: Concepts and Techniques" border="0"
                  src="https://images.gr-assets.com/books/1348248579m/10524715.jpg" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- **********************TO READ************************** (https://www.goodreads.com/user/edit) -->
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div id="goodreads-to-read">
          <h2 class="section-heading" style="text-align: center;">
            <a rel="nofollow"
              href="https://www.goodreads.com/review/list/86801062-giuseppe-gagliano?shelf=to-read&utm_medium=api&utm_source=grid_widget">To-read</a>
          </h2>
          <br>
          <div class="gr_grid_container">
            <div class="gr_grid_book_container">
              <a title="Do Androids Dream of Electric Sheep?" rel="nofollow"
                href="https://www.goodreads.com/book/show/36402034-do-androids-dream-of-electric-sheep"><img
                  alt="Do Androids Dream of Electric Sheep?" border="05"
                  src="https://images.gr-assets.com/books/1507838927m/36402034.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Docker Deep Dive" rel="nofollow"
                href="https://www.goodreads.com/book/show/36411996-docker-deep-dive"><img alt="Docker Deep Dive"
                  border="0" src="https://images.gr-assets.com/books/1507995630m/36411996.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="The Hundred-Page Machine Learning Book" rel="nofollow"
                href="https://www.goodreads.com/book/show/43190851-the-hundred-page-machine-learning-book"><img
                  alt="The Hundred-Page Machine Learning Book" border="0"
                  src="https://images.gr-assets.com/books/1546285613m/43190851.jpg" /></a></div>
            <div class="gr_grid_book_container"><a title="Clean Code: A Handbook of Agile Software Craftsmanship"
                rel="nofollow" href="https://www.goodreads.com/book/show/3735293-clean-code"><img
                  alt="Clean Code: A Handbook of Agile Software Craftsmanship" border="0"
                  src="https://images.gr-assets.com/books/1436202607m/3735293.jpg" /></a></div>
          </div>
        </div>
      </div>



      <!-- **********************READ************************** (https://www.goodreads.com/user/edit) -->
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <div id="goodreads-reading">
          <h2 class="section-heading" style="text-align: center;">
            <a rel="nofollow"
              href="https://www.goodreads.com/review/list/86801062-giuseppe-gagliano?shelf=currently-reading&utm_medium=api&utm_source=grid_widget">Currently-reading</a>
          </h2>
          <br>
          <div class="gr_grid_container">
            <div class="gr_grid_book_container">
              <a title="The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)" rel="nofollow"
                href="https://www.goodreads.com/book/show/386162.The_Hitchhiker_s_Guide_to_the_Galaxy"><img
                  alt="The Hitchhiker's Guide to the Galaxy" border="0"
                  src="https://images.gr-assets.com/books/1388282444m/386162.jpg" /></a>
            </div>
            <div class="gr_grid_book_container"><a title="Scala High Performance Programming" rel="nofollow"
                href="https://www.goodreads.com/book/show/30363467-scala-high-performance-programming"><img
                  alt="Scala High Performance Programming" border="0"
                  src="https://images.gr-assets.com/books/1465247859m/30363467.jpg" /></a></div>
            <div class="gr_grid_book_container"><a
                title="Penny Dreadful: A thriller (The Jasmine Spitfire Mystery Series Book 1)" rel="nofollow"
                href="https://www.goodreads.com/book/show/43543233-penny-dreadful"><img alt="Penny Dreadful: A thriller"
                  border="0" src="https://images.gr-assets.com/books/1547281450m/43543233.jpg" /></a></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
</section>