<section id="portfolio">
    <h2 class="section-heading" style="text-align: center;">Projects</h2>
    <hr>
    <br>
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/1__lXdjsksqBuABrEDjO3asAn_xgMr1XI/view?usp=sharing" class="portfolio-box">
                    <img src="img/portfolio/spark.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Big Data / Machine Learning
                            </div>
                            <div class="project-name">
                              Distributed Outlier Detection Over Big Data Streams
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/1Eg7gGz5D_TN3nkig3h9CMQ7AuKqyq814/view?usp=sharing" class="portfolio-box">
                    <img src="img/portfolio/tensorflow.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Deep Learning / Cloud
                            </div>
                            <div class="project-name">
                                Scaling up Distributed TensorFlow on Google Cloud
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/0B5lsuPQLw1Q8NXMwcWo2M1NhQ2s/view?usp=sharing" class="portfolio-box">
                    <img src="img/portfolio/knn.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Machine learning / Algorithms
                            </div>
                            <div class="project-name">
                              k-NN based Classification
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/0B5lsuPQLw1Q8d1JNbTQ3aVhjVzQ/view?usp=sharing" class="portfolio-box">
                    <img src="img/portfolio/lucene.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Deep Learning / Computer Vision
                            </div>
                            <div class="project-name">
                              Visual similarity search on Oxford buildings
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-4 col-sm-6">
                <a href="https://drive.google.com/file/d/0B5lsuPQLw1Q8X2FwQ2d6LW1kQzg/view?usp=sharing" class="portfolio-box">
                    <img src="img/portfolio/matlab.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                AI / Machine Learning
                            </div>
                            <div class="project-name">
                                Bike rentals in Washington D.C.
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="https://www.github.com/giuseppegagliano" class="portfolio-box">
                    <img src="img/portfolio/github.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">

                            </div>
                            <div class="project-name">
                                @giuseppegagliano
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

      <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
</section>
